<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="htmlpetCloudStorageGcpUpload" xsi:type="object">Htmlpet\CloudStorage\Console\Command\Gcp\Upload</item>
                <item name="htmlpetCloudStorageAmazonS3Upload" xsi:type="object">Htmlpet\CloudStorage\Console\Command\S3\Upload</item>
            </argument>
        </arguments>
    </type>

    <type name="Htmlpet\CloudStorage\Console\Command\Gcp\Upload">
        <arguments>
            <argument name="client" xsi:type="object">Htmlpet\CloudStorage\Client\GoogleCloudPlatform</argument>
        </arguments>
    </type>

    <type name="Htmlpet\CloudStorage\Console\Command\S3\Upload">
        <arguments>
            <argument name="client" xsi:type="object">Htmlpet\CloudStorage\Client\AmazonS3</argument>
        </arguments>
    </type>

    <type name="Magento\Backup\Model\Db">
        <plugin name="backup_model_db" type="Htmlpet\CloudStorage\Plugin\Upload" />
    </type>
</config>
